<h1>Portfolio Items</h1>

<%= link_to "Create", new_portfolio_path %>

<% @portfolio_items.each do |portfolio| %>
<h3><%= link_to portfolio.title, portfolio_show_path(portfolio) %></h3>
<p><%= portfolio.subtitle %></p>
<p><%= portfolio.body %></p>
<p><%= image_tag portfolio.thumb_image unless portfolio.thumb_image.nil? %></p>
<br />
<%= link_to "Edit", edit_portfolio_path(portfolio) %>
<%= link_to "Delete", portfolio, method: :delete, data: { confirm: "Are you sure to delete this item?"} %>
<hr />
<% end %>
